*.opensdf
*.sdf
*.ipch
*.suo
*.exp
*.ilk
*.pdb
*.iobj
*.ipdb
*.aps
*.user
*.tlog
*.obj
*.log
*.res
*.idb
*.pch
*.lastbuildstate
*.vdproj
*.db
*.opendb
*debug*.txt

# Directories
ipch
Debug
Release
data
x64
external
bin
dll
lib

# Executables
*.exe
*.dll
*.lib
